.sidepanel {
  height: 340px;
  position: fixed;
  top: 225px;
  left: 50px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__divider {
    height: 70px;
    width: 2px;
    background-color: #000;
  }
  &__link_facebook {
    &:hover {
      svg path {
        fill: #3C5B9B;
      }
    }
  }
  &__link_instagram {
    &:hover {
      svg path {
        fill: #F00307;
      }
    }
  }
  &__link_github {
    &:hover {
      svg path {
        fill: #414851;
      }
    }
  }
  &__text {
    width: 25px;
    height: 150px;
    span {
      display: block;
      width: 150px;
      transform: rotate(-90deg) translate(-30%, -260%);
    }
  }
}